html {
    font-size: 13px;
}

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
body {
    min-height: 2500px;
    color: #777777;
}
a {
    text-decoration: none;
    color: #ffffff;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
section h2 {
    text-transform: uppercase;
}
.wrapper {
    padding: 3rem 0 2rem;
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 576px) {
    .wrapper {
        padding: 4rem 0 3rem;
    }
}
@media screen and (min-width: 768px) {
    .wrapper {
        padding: 5rem 0 4rem;
    }
}
@media screen and (min-width: 992px) {
    .wrapper {
        padding: 6rem 0 5rem;
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        padding: 8rem 0 6rem;
    }
}



/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 5;
    transition: background-color 0.3s linear;
}
header .logo {
    color: #c8c8c8;
    font-size: 18px;
}
header .logo a {
    color: inherit;
}
header .logo a:hover span {
    color: inherit;
}
header .logo a span {
    font-size: 22px;
    color: #ffffff;
}
header .menu-toggler {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s;
}
header .menu-toggler:hover {
    opacity: 1;
}
header .menu-toggler span {
    font-size: 20px;
    display: none;
}
@keyframes slideInRight {
    0% {
        transform: translateX(280px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideOutRight {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(280px);
    }
}
@keyframes slideInTop {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
header nav {
    transform: translateX(280px);
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 280px;
    background-color: #000000f4;
    color: #ffffff;
}
header nav.show {
    animation: slideInRight 0.2s linear 1 forwards;
}
header nav.unshow {
    animation: slideOutRight 0.15s linear 1 forwards;
}
header nav h4.menu-closer {
    margin: 5px;
    text-align: right;
    cursor: pointer;
    font-size: 1.5rem;
}
header nav .menu-list {
    list-style: none;
    padding: 0 0 0 30px;
}
header nav .menu-list .menu-item a {
    display: inline-block;
    width: 90%;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 20px;
    color: #888888;
    border-bottom: 1px solid #ffffff;
}
header nav .menu-list .menu-item a:hover {
    color: #ffffff;
}
/* VIDEO BANNER */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner {
    background: url("../img/banner.jpg") top center no-repeat;
    background-size: cover;
    height: 60vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #ffffff7f;
    width: 100%;
}
.banner .inner {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 1.5s linear forwards ;
}
.banner .inner h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 20px;
}
.banner .inner p {
    font-size: 1.2rem;
    display: none;
}
.banner .inner p > a {
    opacity: 0.5;
    transition: opacity 0.3s linear;
    border-bottom: 1px dotted #888888;
}
.banner .inner p > a:hover {
    opacity: 1;
    border-bottom: 0;
}
.banner video {
    position: absolute;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    top: -50%;
    display: none;
    opacity: 0;
    animation: fadeIn 1.5s linear 1.5s forwards ;
}
.banner:before {
    transition: opacity 3s ease;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.banner:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
/* MAIN */
main {
    background: url("../img/bg.jpg") fixed no-repeat;
    background-size: cover;
}
.main-area {
    background-color: #ffffffee;
}
.main-area .main-text {
    margin: 0 auto;
    /*padding: 100px 1rem 50px;*/
    text-align: center;
}
.main-area .main-text > h2,
.main-area .main-text > p {
    margin-bottom: 30px;
}
/* CARDS */
.main-area .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
.main-area .card-item {
    text-align: center;
    padding: 2rem;
}
.main-area .card-item .card-inner {
    background-color: #ffffff;
}
.main-area .card-item .card-img {
    font-size: 5rem;
    padding: 50px 0 30px;

}
.main-area .card-item .card-img a {
    color: #b61a25;
}
.main-area .card-item .card-text {
    padding: 2rem;
}
.main-area .card-item .card-text > h3 {
    margin-bottom: 25px;
}
.main-area .card-item .card-text > p {
}
/* DIVIDER */
.divider {
    background-color: #ce1b28;
    color: #ffffffcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 64, 48, 0.10), rgba(255, 64, 48, 0.05)), url('../img/cta01.jpg');
    background-size: cover;
    background-position: bottom;
}
.divider .inner {
    width: 95%;
    margin: 0 auto;
}
.divider h2 {
    margin-bottom: 30px;
}
.divider p {
    line-height: 1.5rem;
}
/* QUOTES SECTION */
.quotes {
    background-color: #ffffffee;
}
.quotes .inner-text {
    max-width: 1100px;
    padding: 0 20px 50px;
    margin: 0 auto;
    text-align: center;
}
.quotes .inner-text h2 {
    margin-bottom: 30px;
}
.quotes .quotes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.quotes .quotes-container .quote-item {
    padding: 20px;
}
.quotes .quotes-container .quote-item .inner {
    background-color: #ffffff;
    padding: 30px;
}
.quotes .quotes-container .quote-item .inner .text {
    border-left: 8px solid #bbbbbb;
    margin-bottom: 15px;
    padding: 20px 0 20px 30px;
    font-style: italic;
    line-height: 1.5rem;
}
.quotes .quotes-container .quote-item .inner .signature {
    display: flex;
    align-items: center;
}
.quotes .quotes-container .quote-item .inner .signature .image {
    margin-right: 15px;
}
.quotes .quotes-container .quote-item .inner .signature .image img {
    border-radius: 50%;
    min-width: 45px;
    max-width: 105px;
    width: 80%;
}
.quotes .quotes-container .quote-item .inner .signature .sign-name .name {
    font-weight: bold;
    color: red;
}
/* FOOTER */
footer {
    padding: 80px 0 60px;
    background-color: #333333;
}
footer .copyright {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}
footer .copyright span {
    opacity: 0.4;

}
footer .copyright a {
    border-bottom: 1px dotted #ff641e;
    color: #ff641e;
    transition: 0.4s all;
}
footer .copyright a:hover {
    color: #ffffff;
    border-bottom: none;
}
/* MEDIA */
/* MEDIA */
/* MEDIA */
@media screen and (min-width: 576px) {
    html {
        font-size: 14px;
    }
    header {
        padding: 15px 20px;
    }
    header nav h4.menu-closer {
        margin: 18px 20px 15px 20px;
    }
    header .menu-toggler span {
        display: inline;
    }
    .banner .inner p {
        display: inline;
    }
    .divider .inner {
        width: 85%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }
    .divider .inner {
        width: 75%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
    .banner video {
        display: block;
    }
    .divider .inner {
        width: 70%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .divider .inner {
        width: 65%;
        margin: 0 auto;
    }
}